.offscreen {
  top:100%;
}
.addMeal-enter {
  top:100%;
}
.addMeal-enter-active{
  top: 50%;
  transition: top 500ms;
}

.addMeal-enter-done {
  top:50%;
}
.addMeal-exit {
  top: 50%;
}
.addMeal-exit-active {
  top:100%;
  transition: top 500ms ease;
}
